<% if flash[:no_user] %>
    <p><%= flash[:no_user] %></p>
<% end %>
<p><%= link_to 'Log In', login_path %></p>

<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= render 'form' %>