<%= stylesheet_link_tag 'chats', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="view-chats">
    <% @chats.each do |chat| %>
        <%= link_to chat, :action => 'go' do %>
            <div class="single-chat"> 
                <h4><%= chat.chat_name %></h4>
                <p><%= chat.messages.last.content if chat.messages.last %></p>
            </div>
        <% end %>
        <hr>
    <% end %>
</div>


